/*fonts*/
@font-face {
    font-family: creepy;
    src: url(font/Ghastly\ Panic.ttf);
}

@font-face {
    font-family: regular;
    src: url(font/NightsideDemoRegular.ttf);
}

/*body*/
body {
    user-select: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: regular;
    color: #C2CBD5;
}

.body {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;


}

#startScreen {
    background-image: url(img/startBackground.jpg);
}

#flashbackScreen {
    display: none;
}

#gameScreen {
    display: none;
    background-color: #030207;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inGameMenuBody{
    display: none;
    background-color: rgba(0, 0, 0, 0.815);
    position: absolute;
    margin-top: -56.5%;
   height: 101vh;
}
#endingOne{
    display: none;
}
/*text elemnts*/
.headinContainer {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-left: 2%;
    gap: 2%;
    margin-top: 0;
}

.creepyHeading {
    font-family: creepy;
    color: #C2CBD5;
    text-shadow: 2px 2px 3px black;
    font-size: 11em;
    font-weight: lighter;
}

.questionmark {
    font-family: creepy;
    color: #702020;
    text-shadow: 2px 2px 3px black;
    font-size: 15em;
    margin-top: 1.2%;
    font-weight: lighter;
}

.middelHeading {
    text-align: center;
    font-family: regular;
    color: #C2CBD5;
    font-size: 4em;
}

/*buttons*/
.buttonContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    margin-left: 2%;
}

.buttons {
    font-family: regular;
    color: #C2CBD5;
    font-size: 4em;
    margin: 1%;
    transition: 0.4s;
    width: 20%;
}

.buttons:hover {
    color: #702020;
}

.volume-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.bar {
    width: 30px;
    height: 80px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.bar.active {
    background-color: #C2CBD5;
}

.optionContainer {
    display: flex;
    height: 100vh;
}

.optionOutput {
    margin-top: -7%;
}

#skip {
    position: absolute;
    z-index: 100;
    font-size: 1em;
    font-family: regular;
    color: #C2CBD5;

}

/*video*/
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}
/*game*/
#map1{
    position: absolute;
    width: 60%;
}
#map2{
    position: absolute;
    width: 80%;
    display: none;
}
#map3{
    position: absolute;
    width: 35%;
    display: none;
}
#map4{
    position: absolute;
    width: 50%;
    display: none;
}
#room1, #room2 , #room3, #room4 {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}
/*player*/
#player{
    position: absolute;
    z-index: 100;
    background-color: #ff05a3;
    width: 5vw;
    height: 10vh;
    display: none;
}
/*colliders*/
    /*room1*/
    .collider{
        background-color: #9d1cffb5;
        position: absolute;
        z-index: 50;
    }
    #collider1Top{
        top: 0;
        width: 100%;
        height: 16vh;
    }
    #collider1Right{
        right: 0;
        width: 29%;
        height: 100vh;
    }
    #collider1Left{
        left: 0;
        width: 29%;
        height: 100vh;
    }
    #collider1Bottom{
        bottom: 0;
        width: 100%;
        height: 16vh;
    }
    #desk1{
        bottom: 13%;
        left: 28%;
        width: 11%;
        height: 25vh;
    }
    #desk2{
        width: 7%;
        height: 14vh; 
        bottom: 58%;
        right: 28%;
    }
    #desk3{
        width: 7%;
        height: 14vh;
        bottom: 26%;
        right: 28%;
    }
    #bed1{
        width: 15%;
        height: 20vh;
        bottom: 40%;
        right: 28%;
    }
    #firstEnding{
        width: 56%;
        height: 100vh;
        right: 0;
        background-color: #08356800;
        display: none;
        position: absolute;
        z-index: 70;
    }
    /*room2*/
    #collider2Top{
        top: 0;
        width: 100%;
        height: 17vh;
    }
    #collider2Right{
        right: 0;
        width: 22%;
        height: 100vh;
    }
    #collider2Left{
        left: 0;
        width: 27%;
        height: 100vh;
    }
    #collider2Bottom{
        bottom: 0;
        width: 100%;
        height: 17vh;
    }
    #collider2filler1{
        top: 0;
        width: 36%;
        height: 24vh;
        left: 0;
    } #collider2filler2{
        top: 0;
        width: 36%;
        height: 41vh;
        right: 0;
    }
    #collider2filler3{
        bottom: 0;
        width: 36%;
        height: 33vh;
        right: 0;
    }
    #desk4{
        top: 19%;
        width: 10%;
        height: 8vh;
        right: 36%;
    }
    #chair1{
        width: 4%;
        height: 6vh;
        top: 20%;
        left: 38%;
    }
    /*room3*/
    #collider3Top{
        top: 0;
        width: 100%;
        height: 38vh;
    }
    #collider3Right{
        right: 0;
        width: 38%;
        height: 100vh;
    }
    #collider3Left{
        left: 0;
        width: 37%;
        height: 100vh;
    }
    #collider3Bottom{
        bottom: 0;
        width: 100%;
        height: 28vh;
    }
    #collider3Filler1{
        bottom: 0;
        width: 47%;
        height: 38vh;
        left: 0;
    }
    #collider3Filler2{
        bottom: 0;
        width: 43%;
        height: 38vh;
        right: 0;
    }
   #desk5{
    width: 6%;
    height: 12vh;
    bottom: 37%;
    left:37%;
   }
   #code5{
    width: 2%;
    height: 8vh;
    bottom: 39%;
    left:39%;
    z-index: 100;
   }
    /*room4*/
    #collider4Top{
        top: 0;
        width: 100%;
        height: 20vh;
    }
    #collider4Right{
        right: 0;
        width: 43%;
        height: 100vh;
    }
    #collider4Left{
        left: 0;
        width: 33%;
        height: 100vh;
    }
    #collider4Bottom{
        bottom: 0;
        width: 100%;
        height: 20vh;
    }
    #collider4Filler1{
        bottom: 0;
        width: 43%;
        height: 38vh;
        left: 0;
    }
    #collider4Filler2{
        top: 0;
        width: 38%;
        height: 46vh;
        left: 0;
    }
/*doors*/
#door1{
    position: absolute;
    background-color: rgba(138, 247, 255, 0);
    width: 3%;
    height: 22vh;
    left: 28%;
    top:39%;
    z-index: 60;
}
#door2{
    position: absolute;
    background-color: rgba(138, 247, 255, 0);
    width: 3%;
    height: 22vh;
    right: 22%;
    top:41%;
    z-index: 60;
}
#door3{
    position: absolute;
    background-color: rgba(138, 247, 255, 0);
    width: 8%;
    height: 5vh;
    left: 27%;
    top:24%;
    z-index: 60;
}
#door4{
    position: absolute;
    background-color: rgba(138, 255, 234, 0);
    width: 8%;
    height: 5vh;
    left: 48%;
    bottom:24%;
    z-index: 60;
}
#door5{
    position: absolute;
    background-color: rgba(138, 247, 255, 0);
    width: 11%;
    height: 5vh;
    left:42%;
    bottom:16%;
    z-index: 60;
}
#door6{
    position: absolute;
    background-color: rgba(138, 247, 255, 0.879);
    width: 11%;
    height: 5vh;
    left:45%;
    top:16%;
    z-index: 60;
}
#door7{
    position: absolute;
    background-color: rgb(138, 247, 255);
    width: 11%;
    height: 5vh;
    left:44%;
    bottom:16%;
    z-index: 60;
}
/*message*/
#messages{
    position: absolute;
    z-index: 70;
    bottom: 2%;
    font-size: 2em;
    display: none;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
/*inventory*/
#inventory{
    position: absolute;
    width: 15%;
    height: auto;
    background-color: #4545455a;
    right: 2%;
    top: 3%;
    display: none;
}
#keyInventory{
    height: 7vh;
}
#collectedKey{
    height: 15vh;
    
    gap: 2;
    display: flex;
}
#collectedKey p{
    width: 20%;
    font-size: 1.5em;
}
#collectedLetter{
    height: 40vh;
}
#letterInventory{
    width: 100%;
    height: auto;
    display: none;
}
/*current room*/
#currentRoom{
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 2em;
    display: none;
}

/*item*/
.key{
    position:absolute;
    width:5%; 
    top:30%; 
    left:40%;
    display: none;
}

#letter{
    width: 50%;
    height: auto;
    z-index: 100;
}
#optionsletter{
    display:flex;
    font-size: 2.7em;
    justify-content: center;
    gap: 25%;
    position: absolute;
    bottom: 5%;
    font-family: creepy;
    z-index: 101;
    transition: 0.3s;
}
#optionsletter p:hover{
    color:#702020;
}
#letterContainer{
    position: absolute;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: #322f2f59;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
}
#paperBall{
    position: absolute;
    z-index: 102;
    top:57vh;
    left: 50wh;
    width: 5%;
    opacity: 0.7;
    display: none;
}